* {
  box-sizing: border-box;
}
.container  {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.button {
  padding: 14.5px 0;
  max-width: 270px;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.389;
  border: none;
  background-color: #EC7979;
  color: #fff
}
.button:hover {
  cursor: pointer;
}
