.radio-tabs {
  font-size: 0;
  margin-bottom: 10px;
}

.radio-tabs__input {
  display: none;

}

.radio-tabs__label {
  text-transform: uppercase;
  padding: 10px 82px;
  border-bottom: 1px solid #C6CBCD;
  ;
  border-radius: 5px 5px 0px 0px;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.36;

}

.radio-tabs__label:hover {
  cursor: pointer;
}

.radio-tabs__input:checked+.radio-tabs__label {
  border: 1px solid #C6CBCD;
  border-bottom: 1px solid white;
}

.content-tabs {
  font-size: 0;
  border: 1px solid #C6CBCD;
}

.content-tabs__info {
  display: inline-block;
  vertical-align: top;
  max-width: 50%;
  padding: 40px 0 57px 100px;
}

.content-tabs__title {
  margin-bottom: 74px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 30px;
  line-height: 1.36;
}

.content-tabs__text {
  margin-bottom: 27px;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
}

.content-tabs__button {
  padding: 23px 92px;
}


.content-tabs__image {
  float: right;

}